# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\gkarw\VT OneDrive\OneDrive - Virginia Tech\Spring 21\OTE\Assignments\HW3\lasso\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
